body {
	color: black;
	background: lightblue;
}

#header-navbar {
	background-color: rgb(0, 153, 255);
}
.navbar-brand {     /*para que el nombre de la empresa no se salga del navbar*/
	height: 100%;
}

.navbar-brand h1 {
	margin: 10px 0;
	color: black;
	font-weight: bold;
}

.navbar-brand a:hover, .navabar-brand a:focus {
	text-decoration: none;
}

li {
	margin: 10px 0;
	font-weight: bold;
	font-size: 1.2em;
}

hr {
	margin: 10px 0 0;
}

.navbar-nav {
	margin: 0;
}

.navbar-header button.navbar-toggle, button.navbar-toggle .icon-bar {
	border: 1px solid blue;
}

.navbar-header {
	position: relative;
}

.navbar-header button.navbar-toggle {
	position: absolute;
	right: 0;
	top: 25%;
}

/*END OF HEADER & NAVIGATION*/

/*MAIN CONTENT*/

#food h2 {
	font-weight: bold;
	margin: 0  0 20px;
}

#chicken, #beef, #sushi {
	border: 2px solid black;
	margin-bottom: 10px;
	padding: 10px;
}

#chicken p.title, #beef p.title, #sushi p.title {
	font-weight: bold;
	font-size: 1.5em;
}

#chicken{
	background-color: rgba(255, 255, 153, 0.6);
}

#beef {
	background-color: rgba(172, 115, 57, 0.6);
}

#sushi {
	background-color: rgba(255, 128, 128, 0.6);
}

/* for extra small devices*/
 @media (max-width: 767px) {

 	#collapsable-menu {
		background-color: rgba(179, 179, 179, 0.6);
	}
 }